/* ALL */

.container {
  background: #f4f1ea;
  padding: 10px;
  margin-bottom: 20px;
}

hr {
  border-radius: 3px;
  border-top: 1px solid rgb(75, 75, 75);
  margin: 0;
}

h3 {
  margin: 12px 0;
  color: #8f8f8f;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
}

h5 {
  margin: 12px 0;
  color: #30a89e;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9em;
}

body {
  background-color: #f4f1ea;
}

/* NAV BAR */
.icon {
  height: 1em;
  margin: 0.2em;
}

/* USER VIEW */
.form-container {
  margin-top: 10px;
  /* width: 30rem; */
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

label {
  display: block;
  margin: 10px 0 5px 0;
}

.input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* ADMIN VIEW */
.dept-container {
  float: left;
  width: 250px;
  height: 100%;
  padding: 90px 60px 60px 40px;
}

.admin-view-container {
  margin-top: 30px;
}

ul {
  text-indent: 0;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  line-height: 35px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s;
}

li:hover {
  background-color: #ece1db;
}

.toggle-link {
  display: flex;
  justify-content: end;
  /* float: right; */
  text-decoration: underline;
}

.toggle-icon {
  padding: 5px;
  height: 2em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-icon:hover {
  background-color: #969696;
}

/* ALL EMPLOYEE CARDS ON ADMNIN VIEW */
.search-input {
  width: 30%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input::placeholder {
  opacity: 0.3;
  color: #000000;
}

.cards-container {
  padding: 50px 30px 70px 30px;
  overflow: hidden;
  background-color: rgb(218, 218, 218);
}

.card-image {
  position: relative;
}

.card-image__img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.card-image__src {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  background-color: white;
  font-size: 12px;
  font-family: sans-serif;
  border-radius: 3px;
}

/*USER VIEW*/

.peach-button {
  border-radius: 12px;
  background-color: #ffcba4; /* Peach color */
  color: #000000; /* Black color for text */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s;
}

.peach-button::before {
  content: "\2192"; /* Unicode arrow right symbol */
  position: absolute;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.peach-button:hover {
  background-color: #ffa87d; /* Lighter shade of peach on hover */
}

.peach-button:hover::before {
  opacity: 1;
}

.title-section {
  background-color: #f4f1ea; /* Quicksand color */
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
}

/* RESPONSIVE ELEMENTS */
@media screen and (max-width: 800px) {
  /* input[type="submit"] {
    width: 100%;
    margin-top: 0;
  } */
  .dept-container {
    width: 220px;
  }
  .search-input {
    width: 100%;
  }
  /* h2 {
    font-size: 1em;
  }
  .card p {
    font-size: 0.8em;
  } */
}
